form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
button {
  margin: 5px;
}
label {
  display: inline-flex;
}
label > :first-child {
  width: 100px;
  text-align: left;
}
input {
  width: 120px;
  margin-right: 5px;
}
input ~ * {
  color: red;
  font-style: italic;
}
.red,
.red:focus-visible {
  outline-color: red;
  border-color: red;
}
hr {
  width: 100%;
}
.form-main h2 {
  color: blue;
  letter-spacing: 10px;
  word-spacing: 20px;
  text-decoration: underline;
  cursor: pointer;
}
